<h2 class="titlu-pagina">Admin</h2>
<br/>
<fieldset id="adauga_produs">
    <h2>Adăugare produs</h2>
    <form action="/adaugare-produs" method="POST" >
        <label>Nume</label> <input type="text" name="nume"><br/>
        <br/>
        <label>Preț</label> <input type="text" name="pret"><br/>
        <br/>
        <button class="buton" type="submit"> Adaugă</button>
    </form>
</fieldset>
